   /* Submit Button */
   #search-accounts .customForm .submit {
       margin-left: 15px;
   }

   input.submit {
       background-color: #9e0b0f;
       border-radius: 1.25rem;
       color: #fff;
       font-size: 1rem;
       line-height: 1.5;
       letter-spacing: -.03125rem;
       margin: 0 auto;
       padding: .65625rem 2.625rem .65625rem 2.625rem;
       position: relative;
       text-align: center;
       text-decoration: none;
       box-shadow: 0 1.25rem .3125rem -.9375rem rgba(248, 46, 53, .35);
       min-width: 100px;
       width: 100px;
   }

   input.submit:hover {
       background-color: #f82e35;
       color: #fff
   }


   input.delete-account {
       background: #fff;
       border-radius: 1.25rem;
       color: #000;
       font-size: 1rem;
       line-height: 1.5;
       letter-spacing: -.03125rem;
       margin: 0 auto;
       padding: .65625rem 2.625rem;
       position: relative;
       text-align: center;
       text-decoration: none;
       box-shadow: -1px 4px .6875rem 0 rgba(139, 3, 4, .6);
       min-width: 100px;
       width: 100px;
   }

   input.delete:hover {
       box-shadow: 0 .3125rem .6875rem 0 rgba(0, 0, 0, .6);
       background-color: #7a0404;
       color: #fff;
       opacity: 1
   }

   #account-display .accounts .delete-account {
       padding-left: 0px;
       padding-right: 0px;
       width: 100px;
   }

   /*TABLE TH*/
   #table-listing tr th{
    background-color:#9e0b0f;
    color:#ffffff;
   }

   /*espaciados verticales*/
   #account-display .accounts nav{
    margin-top:20px;
   }
   
   /* Form Division */
   #search-accounts form{
    margin-top:20px;
   }
   
   /* Form Division */
   #filter-roles form{
    margin-top:19px;
   }
   
   /* Accounts */
   #account-display .accounts{
    margin-top:20px;
   }
   /*FIN DE ESPACIADOS VERTICALES*/