* {
    font-family: roboto condensed, sans-serif;
}

.header-margin {
    margin-top: 97px;
}

.main-hero-container {
    display: flex;
    height: 330px;
    background-color: gray;
    justify-content: center;
}

.main-hero-container .vhh-search {
    margin: 2.625rem 0 1.25rem;
    padding: 0 0.75rem;
    max-width: 34.625rem;
    width: 100%;
}

.vhh-search>h1 {
    font-size: 34px;
    width: 100%;
    text-align: center;
}


.hero .article {
    width: 80%;
}

.date-article .line-separator {
    width: 100%;
}

.line-separator:after {
    content: '';
    background-color: #d1d1d1;
    bottom: 0.1875rem;
    display: block;
    height: 0.08rem;
    left: 0;
    width: 100%;

}

#pca-list {

    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 1rem 0 2rem 0;

}

#pca-list li {

    margin-right: 2rem;
}

.main-detail-container .hero.show-breadcrumb .hero-container figure.pc-figure {
    height: 3.75rem;
    width: 3.75rem;
    min-width: 3.75rem;
}


.flex {
    display: flex;
}

.pcg-contact {
    margin: 1rem 0 2rem 0;
}

.main-detail-container .hero.show-breadcrumb .hero-container figure.pc-figure img {
    border-radius: 50%;
    box-shadow: 0 0.25rem 0.5625rem 0 rgb(0 0 0 / 30%);
    height: 100%;
    object-fit: cover;
    width: 100%;
    border: 0.0625rem solid #ababab;
}

figure.pc-figure {
    margin-right: 0;
}

.pc-top {
    display: flex;
    margin-bottom: 0.4rem;
}

.pc-top>div {

    display: flex;
    flex-direction: column;
    padding: 0.375rem 0.625rem 0.25rem 0.475rem;
    padding-left: 1rem;
    justify-content: center;
}

.pc-name {
    color: #ed1d24;
    font-family: roboto condensed, sans-serif;
    font-size: 1rem;
    line-height: 1.31;
    text-decoration: underline;
    margin-bottom: 0.25rem;
}

.pc-occupation {
    color: #666666;

    font-family: roboto condensed, sans-serif;
    font-weight: 100;
}

.hero .details {
    height: auto;
}

.hero .hero-container {
    flex-direction: row;
}

.group-container .group {

    width: 40rem;
}



.hero .hero-container:before {
    background-color: #fff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
}

.margin-details h4 {

    color: #666;
    margin-top: 20px;
}

#group-figure {

    width: 100%;
    height: 237px;
    margin-top: 0.75rem;
}

.hero figure {
    margin: 0px;
}

.margin-profile-card {
    margin: 1rem 0 2rem 0;
}

.hero .details .margin-details h1 {

    margin-bottom: 0;
}

.ontology-tag {

    background-color: #C4161C;
    font-size: 1rem;
    line-height: 1.31;
    position: relative;
    max-width: 9.2rem;
    text-align: center;
    border-radius: 4px;
    padding: 0.2em 0.9em 0.3em;
    color: white;
    font-weight: bold;
}

.ontology-tag span {
    text-decoration: none;
}

.bannerLogin {
    width: 100%;
    height: 300px;
    background-image: url(/images/loginBack.jpg);
    background-size: cover;
    min-width: 1128px;
    -webkit-box-shadow: 0px 20px 30px #333 inset;
    -moz-box-shadow: 0px 20px 30px #333 inset;
    box-shadow: 0px 20px 30px #333 inset;
    color: #FFF;
    margin: auto;
}

/* ------------------------------------------------->  */
/* SITE ADMIN DASHBOARD ---------------------------->  */
/* ------------------------------------------------->  */
#backgroundweb {
    background-image: url(https://pattern.uao.edu.co/images/bg-desktop-white.png);
}

/* Lista */
#VClassURI {
    list-style: none;
    background: #fff;
    border: 1px solid #e0dfdf;
    -webkit-border-radius: 5px;
    margin-bottom: .8em;
    margin-right: .5em;
    margin-top: .3em;
    background-color: #fff;
    border-color: #e0dfdf;
    font-size: 1em;
    border-width: 1px;
    color: #595B5B;
    padding: .3em;
    width: 305px;
}

#individual-in-class {

    max-width: 1050px;
    margin: auto;
}

#individual-in-class ul {
    /*! display: grid; */
    /*! grid-template-columns: 1fr 1fr; */
    display: flex;
    flex-wrap: wrap;
}

#individual-in-class ul li {
    /*! display: grid; */
    /*! grid-template-columns: 1fr 1fr; */
    flex: 50%;
}

#individual-in-class ul li article {
    width: 300px;
    margin: auto;
}



#individual-in-class article a .pc-top figure {

    height: 3.75rem;
    width: 3.75rem;
    min-width: 3.75rem;
}

#individual-in-class article a .pc-top figure img {
    border-radius: 50%;
    box-shadow: 0 0.25rem 0.5625rem 0 rgb(0 0 0 / 30%);
    height: 100%;
    object-fit: cover;
    width: 100%;
    border: 0.0625rem solid #ababab;
}

#menu-page-intro {
    height: 90px;
    text-align: center;
    /*! justify-content: center; */
    background: #C4161C;
    color: white;
}


#menu-page-intro h2 {
    padding-top: 1.6rem;
}

.VCLassURI::before {
    content: '\e96a';
    color: #ed1d24;
    display: block;
    font-family: icomoon;
    font-size: 1.1875rem;
    position: absolute;
    right: 1.5rem;
    top: calc(50% - .5625rem);
}

#VClassURI:-ms-expand {
    display: none
}

#VClassURI:-ms-input-placeholder {
    color: #fff
}

#VClassURI::placeholder {
    color: #fff
}

/* Botón */
#submit {
    background-color: #9e0b0f;
    border-radius: 1.25rem;
    color: #fff;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: -.03125rem;
    margin: 0 auto;
    min-width: 13.75rem;
    padding: .65625rem 2.625rem .65625rem 1.875rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 1.25rem .3125rem -.9375rem rgba(248, 46, 53, .35)
}

#submit:after {
    transition: transform .2s
}

#submithover:after {
    transform: translateX(.3125rem)
}

#submit:before {
    border-radius: 1.25rem;
    bottom: 0;
    content: '';
    display: block;
    height: 1.25rem;
    left: 15%;
    position: absolute;
    width: 70%;
    z-index: -1
}

#submit:after {
    content: '\e96c';
    color: #fff;
    font-family: icomoon;
    font-size: .9375rem;
    margin-left: .3125rem;
    padding: .125rem 0;
    position: absolute
}

#submit:hover {
    background-color: #f82e35;
    color: #fff
}

#header-menu-desktop.fixed {
    position: sticky;
}

/* WRAPPER CONTENT------>  */
#wrapper-content {
    clear: both;
    width: 930px;
    margin: 0 auto;
    background: #fff;
    min-height: 710px;
    padding: 20px;
}

#adminDashboard .pageBodyGroup {
    padding: 0 1em .5em 1em;
}

#adminDashboard .pageBodyGroup h3 {
    background-color: #fff;
    border-bottom: 1px dotted #AFB2B2;
    font-weight: bold;
    padding: .625em;
    color: #510608;
    margin-bottom: .625em;
}

#adminDashboard .pageBodyGroup ul {
    margin: 0 0 1em .6em;
}

#adminDashboard .pageBodyGroup h4 {
    color: #5E6363;
    font-size: 1em;
    margin-left: .6em;
    font-weight: bold;
}

#adminDashboard .pageBodyGroup h4 a {
    color: #5E6363;
    font-size: 1em;
    margin-left: 0;
    font-weight: bold;
}

/* FOOTER------>  */
footer {
    position: relative;
    top: 50px;
}

/*titles siteadmin*/
.tab {
    margin-top: 10px;
    margin-bottom: 20px;
}

/*Site Config Card*/
#adminDashboard .pageBodyGroup ul {
    font-family: Roboto, sans-serif;
    font-size: 1rem;
    line-height: 1.69;
    letter-spacing: -.01063rem;
    padding: 10px;
}

/*lista de opciones*/
.list {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.row {
    display: block;
    -ms-flex-pack: center;
    justify-content: center;
}

#admin {}

#admin h3 {
    background-color: #510608;
    color: #fff;
}

#verbose-mode .small {
    cursor: pointer;
}

.profile-hero {
    background: url(https://pattern.uao.edu.co/images/bg-desktop-ingenieria.jpg) no-repeat;
    background-position-y: center;
    background-size: cover;
    overflow: hidden;
    padding-bottom: 2.9375rem;
    padding-top: 1.5625rem;
    position: relative;
    height: 500px;
}

.edit-individual {
    width: 20px;
    height: 20px;
}


.edit-mainImage {
    position: absolute;
    right: 36px;
    filter: invert(100);
}

.edit-mainImage:hover {
    filter: invert(72%) sepia(7%) saturate(8%) hue-rotate(344deg) brightness(86%) contrast(91%);
    transition: .3s ease-out;
}

body>div.profile-hero>div>div.info>h1>span>a:hover {
    filter: invert(72%) sepia(7%) saturate(8%) hue-rotate(344deg) brightness(86%) contrast(91%);
    transition: .3s ease-out;
}

#RO_0000053-LeaderRole-List>li>div>div>a.edit-overview:hover {
    filter: invert(72%) sepia(7%) saturate(8%) hue-rotate(344deg) brightness(86%) contrast(91%);
    transition: .3s ease-out;
}

#RO_0000053-LeaderRole-List>li>div>div>a.delete-overview:hover {
    filter: invert(72%) sepia(7%) saturate(8%) hue-rotate(344deg) brightness(86%) contrast(91%);
    transition: .3s ease-out;
}

#RO_0000053>a:hover {
    filter: invert(72%) sepia(7%) saturate(8%) hue-rotate(344deg) brightness(86%) contrast(91%);
    transition: .3s ease-out;
}

.delete-individual {
    width: 20px;
    height: 22px;
    filter: invert(100);

}

.delete-individual:hover {
    filter: invert(72%) sepia(7%) saturate(8%) hue-rotate(344deg) brightness(86%) contrast(91%);
    transition: .3s ease-out;
}

a.delete-mainImage {
    position: absolute;
    right: 9px;
}

#iconControlsLeftSide {
    padding-left: 40px;
}

#right-hand-column {
    z-index: 10;
    position: absolute;
    top: 43%;
    transform: translateY(-50%);
    float: right;
    right: 98%;
    right: 4%;
    width: 250px;
    color: #5e6363;
    padding: 20px;
    background-color: #fff;
    border-radius: 1.25rem;
}

.collaboratorship-link-separator {
    line-height: 1.5em;
    margin: 0;
    padding: 0;
    border: 0;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
    color: #595b5b;
    font-weight: normal;
    margin-top: 15px;
    border-top: 1px dotted #A6B1B0;
    padding-top: 15px;
}

#coauthorship_link_container {
    width: 180px;
}

.collaboratorship-icon {
    float: left;
    padding-right: 8px;
}

.titlehindex {
    position: static;
    text-align: center;
    padding: 5px;
}

p {
    font-family: roboto condensed;
}

#pub_count_short_sparkline_vis_img>table>tbody>tr>td>img {
    mix-blend-mode: multiply;
}

#tabcontent {
    height: 550px;
    background-image: url(https://pattern.uao.edu.co/images/bg-desktop-white.png);
}

#verbose-mode {
    margin-top: 33px;
}

#right-hand-column>form:nth-child(10)>a {
    padding: 0.313rem 2rem;
}

#right-hand-column>form:nth-child(11)>a {
    padding: 0.313rem 1rem;
}

#RO_0000053-LeaderRole-List>li>div>div>a.delete-overview>img {
    filter: invert(0);
    width: 18px;
    height: auto;
}

#RO_0000053-LeaderRole-List>li>div>div>a.edit-overview>img {
    margin-left: 10px;
    width: 18px;
    height: auto;
}

#tabcontent>article {
    margin-bottom: 2%;
    background-color: #C4161C;
    width: 70%;
}

#tabcontent>article h3 {
    color: white;
}

#RO_0000053>a>img {
    filter: invert(100);
    width: 20px;
    height: auto;
}

#hasResearchArea {
    border: 0;
    font-style: normal;
    vertical-align: baseline;
    padding: 10px 0 12px 0;
    line-height: 1.5em;
    padding-bottom: 6px;
    padding-top: 0px;
    color: #ffffff;
    font-size: 1.5em;
    font-weight: bold;
}

#individual-hasResearchArea>li {
    display: flex;
    float: left;
    margin: 10px;
}

#individual-hasResearchArea {
    position: absolute;
    top: 70px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}


#researcharea {
    z-index: 1;
    text-align: center;
    position: relative;
    width: 100%;
}

.profile-hero::after {
    left: 6.875rem;
    bottom: 0.9375rem;
    width: 100%;
    height: 7rem;
    border-bottom: 0.0625rem solid rgb(255, 255, 255);
    border-bottom-left-radius: 1rem;
    border-left: 0.0625rem solid rgb(255, 255, 255);
    content: "";
    display: block;
}

#researchAreaIcon {
    position: relative;
    left: 5px;
    top: 5px;
    filter: invert(100);
    height: auto;
    width: 20px;
}

#hasResearchArea>a>img {
    position: relative;
    filter: invert(100);
    height: auto;
    width: 20px;
    left: 10px;
}

#hasResearchArea>a>img:hover {
    filter: invert(72%) sepia(7%) saturate(8%) hue-rotate(344deg) brightness(86%) contrast(91%);
    transition: .3s ease-out;
}

#individual-hasResearchArea>li>a {
    padding: 10px;
}

#geographicFocus>a>img {
    filter: invert(100);
    height: auto;
    width: 18px;
}

#geographicFocus-GeographicRegion-List > li > a.delete-geographicFocus > img{
    filter: invert(0);
    height: auto;
    width: 18px;
}

#adminPanel{
    border-radius: 1.25rem;
}
#adminDashboard > ul > section.pageBodyGroup > h2{
    margin-bottom: 25px;
    margin: 0;
    background-color: #fff;
    border-bottom: 1px dotted #AFB2B2;
    font-weight: bold;
    padding: .625em;
    margin-bottom: .625em;
}