@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.header-margin {
    margin-top: 97px;
}

.main-hero-container {
    display: flex;
    height: 330px;
    background-color: gray;
    justify-content: center;
}

.main-hero-container .vhh-search {
    margin: 2.625rem 0 1.25rem;
    padding: 0 0.75rem;
    max-width: 34.625rem;
    width: 100%;
}

.vhh-search>h1 {
    font-size: 34px;
    width: 100%;
    text-align: center;
}


.hero .article {
    width: 80%;
}

.date-article .line-separator {
    width: 100%;
}

.line-separator:after {
    content: '';
    background-color: #d1d1d1;
    bottom: 0.1875rem;
    display: block;
    height: 0.08rem;
    left: 0;
    width: 100%;

}

#pca-list {

    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 1rem 0 2rem 0;

}

#pca-list li {

    margin-right: 2rem;
}

.main-detail-container .hero.show-breadcrumb .hero-container figure.pc-figure {
    height: 3.75rem;
    width: 3.75rem;
    min-width: 3.75rem;
}


.flex {
    display: flex;
}

.pcg-contact {
    margin: 1rem 0 2rem 0;
}

.main-detail-container .hero.show-breadcrumb .hero-container figure.pc-figure img {
    border-radius: 50%;
    box-shadow: 0 0.25rem 0.5625rem 0 rgb(0 0 0 / 30%);
    height: 100%;
    object-fit: cover;
    width: 100%;
    border: 0.0625rem solid #ababab;
}

figure.pc-figure {
    margin-right: 0;
}

.pc-top {
    display: flex;
    margin-bottom: 0.4rem;
}

.pc-top>div {

    display: flex;
    flex-direction: column;
    padding: 0.375rem 0.625rem 0.25rem 0.475rem;
    padding-left: 1rem;
    justify-content: center;
}

.pc-name {
    color: #ed1d24;
    font-family: roboto condensed, sans-serif;
    font-size: 1rem;
    line-height: 1.31;
    text-decoration: underline;
    margin-bottom: 0.25rem;
}

.pc-occupation {
    color: #666666;

    font-family: roboto condensed, sans-serif;
    font-weight: 100;
}

.hero .details {
    height: auto;
}

.hero .hero-container {
    flex-direction: row;
}

.group-container .group {

    width: 40rem;
}



.hero .hero-container:before {
    background-color: #fff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
}

.margin-details h4 {

    color: #666;
    margin-top: 20px;
}

#group-figure {

    width: 100%;
    height: 237px;
    margin-top: 0.75rem;
}

.hero figure {
    margin: 0px;
}

.margin-profile-card {
    margin: 1rem 0 2rem 0;
}

.hero .details .margin-details h1 {

    margin-bottom: 0;
}

.ontology-tag {

    background-color: #C4161C;
    font-size: 1rem;
    line-height: 1.31;
    position: relative;
    max-width: 9.2rem;
    text-align: center;
    border-radius: 4px;
    padding: 0.2em 0.9em 0.3em;
    color: white;
    font-weight: bold;
}

.ontology-tag span {
    text-decoration: none;
}

.group-image-container {
    margin: 2rem 0;
}

.contact-info {

    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact-info .margin-profile-card {

    grid-row: 2;
}

.contact-info .tel-email {
    grid-row: 1/3;
}

.contact-title {

    margin-top: 20px;
    font-weight: 100;
    color: #666;
}

.hidden {
    display: none;
}

.property-container {

    margin: 0 271px;
}

article.property {

    margin-bottom: 1.5rem;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.25);
}

article.property h3 {

    padding: 5px 0 5px 20px;
    background: #C4161C;
    font-size: 1.5rem;
    color: white;
    font-weight: 400;
    text-transform: capitalize;
}

.property-list {

    padding-bottom: 1.5rem;
}


.property-list li {

    padding: 10px 20px 5px 20px;
}

#hmd-bottom ul li a {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    color: black;
    text-decoration: none;
}

#individual-in-class {

    max-width: 1050px;
    margin: auto;
}

#individual-in-class ul {
    /*! display: grid; */
    /*! grid-template-columns: 1fr 1fr; */
    display: flex;
    flex-wrap: wrap;
}

#individual-in-class ul li {
    /*! display: grid; */
    /*! grid-template-columns: 1fr 1fr; */
    flex: 50%;
}

#individual-in-class ul li article {
    width: 300px;
    margin: auto;
}



#individual-in-class article a .pc-top figure {

    height: 3.75rem;
    width: 3.75rem;
    min-width: 3.75rem;
}

#individual-in-class article a .pc-top figure img {
    border-radius: 50%;
    box-shadow: 0 0.25rem 0.5625rem 0 rgb(0 0 0 / 30%);
    height: 100%;
    object-fit: cover;
    width: 100%;
    border: 0.0625rem solid #ababab;
}

#menu-page-intro {
    height: 90px;
    text-align: center;
    /*! justify-content: center; */
    background: #C4161C;
    color: white;
}


#menu-page-intro h2 {
    padding-top: 1.6rem;
}