#submit:hover{
    transition: .3s ease-out;
    background-color: #363636;
    box-shadow: 0 1.25rem .3125rem -.9375rem rgba(54, 54, 54, .35);
}
/*Diseño verbose mode on*/
/* Profile hero */
.profile-hero{
    min-height:790px;
    transform:translatex(0px) translatey(0px);
   }
   
   /* Info */
   .profile-hero .info{
    max-width:902px !important;
    position: absolute;
    left: 50%;
    transform: translateX(-50%)
   }
   
   /* Verbose property listing */
   .profile-hero .info .verbosePropertyListing{
    max-width:902px;
    width:902px;
    padding-left:10px;
    padding-right:10px;
    margin-top:2px;
    margin-bottom:2px;
   }
   
   /* Hero container */
   .profile-hero .hero-container{
    min-height:563px;
   }
   
   /* Right hand column */
   #right-hand-column{
    box-shadow:-11px 11px 12px 0px rgba(0,0,0,0.3);
   }
   
   /* Has research area */
   #hasResearchArea{
    transform:translatex(4px) translatey(-17px);
   }
   
   /* Verbose property listing */
   #researcharea .verbosePropertyListing{
    top:-6px;
    width:1177px;
   }
   .profile-hero .hero-container::before {
    background-color: #fff;
    content: '';
    display: block;
    position: absolute;
    height: 90%;
    width: 100%;
    left: 0;
}
/* Photo wrapper */
#photo-wrapper{
    transform:scale(.80);
    position: absolute;
    float: left;
    left: 0px;
    left: -4px;
    right: auto !important;
    
   }
/* Image */
#photo-wrapper a img{
    transform:translatex(0px) translatey(0px);
    padding-left:5px;
    padding-top:5px;
    padding-bottom:5px;
    position:relative;
    width:323px;
    max-width:323px;
   }
 /* Right hand column */
 #right-hand-column{
    margin-left:37px;
    box-shadow:5px 5px 20px -8px rgba(0,0,0,0.3);
    margin-right:37px;
    min-height:418px;
    height:418px;
   }
   .profile-hero .hero-container {
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    width: 100%;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-top: 2rem;
}
#right-hand-column {
    float: right;
    right: 0% !important;
}

    /* Info */
    .profile-hero .info{
        min-width:7px;
        width:710px;
       }
       
       /* Verbose property listing */
       .profile-hero .info .verbosePropertyListing{
        display:inline-block;
        transform:translatex(0px) translatey(0px) !important;
        min-width:710px;
        width:89%;
       }
       /* Edit main image */
   #photo-wrapper .edit-mainImage{
       filter: invert(0.01) saturate(0.1);
       font-size:25px;
      }
      
      /* Delete main image */
      #photo-wrapper .delete-mainImage{
       filter: invert(0.01);
       font-size:25px;
      }
@media (max-width:1366px){

    /* Info */
    .profile-hero .info{
     min-width:7px;
     width:710px;
    }
    
    /* Verbose property listing */
    .profile-hero .info .verbosePropertyListing{
     display:inline-block;
     transform:translatex(0px) translatey(0px) !important;
     min-width:710px;
     width:89%;
    }
    /* Edit main image */
#photo-wrapper .edit-mainImage{
    filter: invert(0.01) saturate(0.1);
    font-size:25px;
   }
   
   /* Delete main image */
   #photo-wrapper .delete-mainImage{
    filter: invert(0.01);
    font-size:25px;
   }
   }